		<div class="post-teaser">
		  <header>
		    <h1>
		      <a id="post-link-trans" class="post-link" href="{{ post.url | prepend: site.baseurl }}">
		        {{ post.title }}
		      </a>
		    </h1>

      <span class="subtitle">{{ post.date | date_to_string }} | </span>
      {% if post.categories %}
      {% for category in post.categories %}
    <a href="{{ site.baseurl }}/blog/{{ category }}" class="post-category">{{ category }}</a>
      {% endfor %}
            <span class="subtitle"> | </span>
      {% endif %}

    {% if post.tags %} 
    {% for tag in post.tags %}
    <a href="{{ site.baseurl }}{{ site.tag_page }}#{{ tag | slugify }}" class="post-tag">{{ tag }}</a>
    {% endfor %}
      {% endif %}

		    </header> <div class="excerpt"> {% assign num = post.content |
		  number_of_words %} {% if num < site.theme.visiblewords %} {{ post.content
		  }} {% else %} {{ post.content | truncatewords: site.theme.visiblewords }}
		  <p> <a class="text" href="{{ post.url | prepend: site.baseurl }}"> {{
		  site.theme.str_continue_reading }} </a> </p> {% endif %} </div> </div>
