---
layout: default
---

{% assign post = page %}

    <article id="main">
  <header class="special container">
    <h2 class="post-title">{{ post.title }}</h2>
    <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} &nbsp; ✰ &nbsp; {{ post.author }}{% endif %}{% if post.meta %}  &nbsp; ✰ &nbsp; {{ post.meta }}{% endif %}</p>
  </header>


  <section class="style4 wrapper container">
      {{ content }}

    <hr>

   <!-- Disqus -->
      {% if site.disqus_shortname %}
      <div class="comments">
          {% include disqus.html %}
      </div>
      {% endif %}
  </section>

    <footer>
        {% if post.previous %}
        <a href="{{ post.previous.url }}" class="post-prev">&larr; Previous post</a> {% endif %}
        {% if post.next %}
        <a href="{{ post.next.url }}" class="post-next">Next post &rarr;</a> {% endif %}
    </footer>

</article>

